<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <section class="py-24 relative">
            <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
                <div class="w-full md:px-16 px-10 md:pt-16 pt-10 pb-10 bg-gray-900 rounded-2xl flex-col justify-end items-center lg:gap-28 md:gap-16 gap-10 inline-flex">
                    <div class="flex-col justify-end items-center lg:gap-16 gap-10 flex">
                        <img src="{{image}}" alt="pagedone logo image" class="object-cover" style="max-height: 600px">
                        <div class="flex-col justify-center items-center gap-10 flex">
                            <div class="flex-col justify-start items-center gap-2.5 flex">
                                <h2 class="text-center text-emerald-400 md:text-6xl text-5xl font-bold font-manrope leading-normal">
                                    "{{blessing}}"
                                </h2>
                            </div>
                            <div class="w-full flex-col justify-center items-center gap-5 flex">
                                <!--button to reload thee page -->
                                <button class="bg-emerald-400 text-white px-6 py-3 rounded-lg font-manrope font-bold text-lg">
                                    Receive Another Blessing from Aaron
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
